.detailModal input:read-only + fieldset, 
.detailModal input:read-only,
.detailModal textarea:read-only,
.detailModal textarea:read-only + fieldset {
  padding: 0 !important;
  border: none !important;
  color: black !important;
  -webkit-text-fill-color: #252525!important;
}
.detailModal:has(textarea:read-only) .MuiOutlinedInput-root{
  padding: 0 !important;
}
.detailModal .inputWithPrefix input:read-only {
  margin-left: 5px;
}
.detailModal .inputWithPrefix .Mui-disabled{
  color: #252525 !important;
}
.css-13vyqzj-MuiFormLabel-root-MuiInputLabel-root{
  height: 15px !important;
}
.offcanvas-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1300;
  margin-left: 0 !important;
}
.offcanvas-container.hidden{
  display: none;
}
.offcanvas-container .offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1300;
  display: block;
  outline: 0;
  background-color: white;
  min-width: 350px;
  border-left: 1px solid #ddd;
}
.offcanvas-start {
  transform: translateX(100%);
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideinOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.offcanvas-container .offcanvas.show {
  animation: slidein 0.5s forwards;
  -webkit-animation: slidein 0.5s forwards;
}

.offcanvas-container .offcanvas-start {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.offcanvas-container .offcanvas-start.offcanvas-first{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.offcanvas-container .offcanvas-start:not(.show):not(.offcanvas-first) {
  animation: slideinOut 0.5s forwards;
  -webkit-animation: slideinOut 0.5s forwards;
}

.offcanvas-container .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.offcanvas-container .offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
}

.offcanvas-container .btn-close {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem -0.25rem auto;
}

.offcanvas-container .offcanvas-body {
  padding: 1rem;
}

/* Additional styling */
.offcanvas-container ul {
  list-style: none;
  padding: 0;
}

.offcanvas-container li {
  padding: 0.5rem 0;
}

.offcanvas-container a {
  text-decoration: none;
  color: #000; /* or any color you prefer */
}

/* Additional styling for buttons */
.offcanvas-container .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff;
  white-space: nowrap;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.offcanvas-container .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.offcanvas-container .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.offcanvas-container .btn-primary:focus,
.offcanvas-container .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

.offcanvas-container .btn-primary.disabled,
.offcanvas-container .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.offcanvas-container .btn-primary:not(:disabled):not(.disabled):active,
.offcanvas-container .btn-primary:not(:disabled):not(.disabled).active,
.show > .offcanvas-container .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.css-1co9diy-MuiFormLabel-root-MuiInputLabel-root{
  overflow:unset !important;
  z-index: 0;
}

.fullWidth {
  width: 100%;
}